{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "prefer-destructuring": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
